logs
project/project
project/target
target
tmp
.history
.idea
*.iml
out
.idea_modules
.classpath
.project
/RUNNING_PID
.settings
.DS_STORE

# ignore anything that might get put into client/shared
client/shared